.detail img {
    left: 0;
    min-height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .3s;
    min-width: calc(100vw - 600px);
}

.detail img.visible {
    opacity: 1;
}

.detail:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) calc( 100vw - 920px ), rgba(30,30,30,1) calc( 100vw - 620px));
    position: absolute;
    top: 0;
    left: 0;
}

.detail__content {
    bottom: 2rem;
    box-sizing: border-box;
    position: absolute;
    right: 2rem;
    width: 600px;
    z-index: 10;
}

.detail__description {
    background: #fff;
    padding: 4rem;
}

.detail__title {
    font-size: 3rem;
}

.detail__header {
    color: #fff;
    margin-bottom: 2rem;
    padding-left: 4rem;
}

.detail__sub-title {
    font-size: 1.4rem;
    margin-top: .5rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    line-height: 1.4em;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: .5rem;
}

ul {
    margin-bottom: 1rem;
}